@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
}

html {
    font-family: 'Merriweather Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
}
